#msform{
    opacity: 0;
}
.device-dropdown-fixed{
    margin-right: 100px;
    float:right;
}
.device-dropdown-fixed .dropdown-menu{
margin-top: -149px;    
}
.device-dropdown-fixed .list{
    position: absolute;
    bottom: 0%;
    margin-bottom: 32px;
    background-color: white;
    border: 1px solid;
    border-radius: 6px 6px 0px 0px;
    border-color: rgb(131, 121, 146);
    border-bottom: 0px;
    min-width: 132px;
}
.device-dropdown-fixed .list ul{
    list-style: none;
    margin-bottom: 0px;
}
.device-dropdown-fixed .list li{
padding-left: 10px;
padding-top: 8px;
}
.device-dropdown-fixed .list li:hover{
background-color: rgb(131, 121, 146);
cursor: pointer;
}
footer{
    bottom: 0%;
    width: 100%;
    position: absolute;
    height: 51px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(111, 105, 129);
}
.add-button {
color: rgb(186, 175, 218);
}
.add-button-circle{
margin-left: 50px;
width: 40px;
text-align: center;
padding: 5px;
float: left;
border: 1px solid;
border-radius: 26px;
box-shadow: 0px 0px 4px rgba(45,27,11,13.3);
}
.add-button-circle:hover{
box-shadow: 0px 0px 14px rgba(45,27,11,13.3);
cursor: pointer;

}
.add-button:hover{
color:rgb(144, 136, 170);
}

.transducer-form-content{
    margin-top: 50px;
}
.form-title-tooltip{
    opacity:1; 
    margin-left: 76px;
    width: 69px;
    margin-top: -48px !important;
}
.hardware-channel-input{
    width:50px !important;
}
.icon-button{
    border: 1px solid;
    padding: 4px;
    background-color: rgb(216, 216, 216);
    border-color: rgb(162, 162, 162);
}
.icon-button:hover{
    background-color:rgb(179, 179, 179);
}
.device-control{
    padding-bottom: 13px;
}
.echosounder-table{
    width: 80%;
    text-align: center;
    margin: auto;
}
.echosounder-table .custom-dropdown{
    margin:0px;
}
.echosounder-table input{
   font-size:14px !important;
}


.form-error-tooltip {
  opacity: 1;
  margin-left: -27px !important;
  margin-top: 5px;
}
.status-table{
    margin-top: 20px;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: .7em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}
/* Custom dropdown */

.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  /* demo only */
}

.custom-dropdown select {
  background-color: #27AE60;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
  background-color: rgba(0, 0, 0, .15);
}

.custom-dropdown::after {
  color: rgba(0, 0, 0, .4);
}
/*custom font*/

@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  /*Image only BG fallback*/
  
  background: url('../images/gs.png');
  /*background = gradient + image pattern combo*/
  
  background: linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url('../images/gs.png');
}

body {
  font-family: montserrat, arial, verdana;
}
/*form styles*/

#msform {
  width: 607px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width : 100%;
  margin: 10 0%;
  /*stacking fieldsets above each other*/
  
  position: absolute;
}
/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/

#msform input,
#msform textarea {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform input{
    max-width: 150px;
}

#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
  background: #27AE60;
  color: white;
}