
<div class="add-echosounder-start-box" ng-if="showEchoSounderBox">
    <div class="content">
        <h2 class="fs-title">Add Echosounder</h2>
        <div class="add-button-circle add-5x-button-circle" data-ng-click="addEchoSounder()">
            <i class="fa fa-plus fa-5x add-button"></i>
        </div>
    </div>
</div>
<div class="status-area" ng-if="!showEchoSounderBox">
    <div class="status-title-area">
        <table>
            <tr ng-repeat="x in titleTableCountArray">
                <td class="row-title-table">
                    <table class="table table-bordered ">
                        <tr class="echoTitleHeight"><td>Echo Sounder</td>
                        <tr>
                            <td>
                                <table class="table table-bordered inner-table">
                                    <tr><td>Transducer</td></tr>
                                    <tr><td>H_Channel</td></tr>
                                    <tr><td>S_Channel</td></tr>
                                    <tr><td>Rec</td></tr>
                                    <tr><td>Window</td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="status-content" ng-if="echosounders.length > 0 || true">
        
        <div ng-repeat="(es,esDetail) in echosounders" class="pull-left">
            <!--{{es}}-->
            <div ng-if="esDetail.transducers == undefined" class="pull-left">
                <table class="table table-bordered echosounder-table" ng-repeat="(d,dDetail) in esDetail">
                    <tr>
    <!--                    <td colspan={{getEnabledTransducerCount(dDetail.transducers)}}>-->
                        <td class="echoTitleHeight" colspan={{dDetail.transducers.length}}>
                            {{ es + ":" + d}}
                            <i class=" cell-icon pull-right" data-ng-class="{'icon-button fa fa-play':dDetail.deviceStatus==false,'icon-button fa fa-stop':dDetail.deviceStatus==true,'icon-button-refresh fa fa-refresh faa-spin animated': dDetail.deviceStatus=='refreshing','fa fa-exclamation-triangle faa-flash animated text-danger': dDetail.deviceStatus=='error'}" data-ng-click="changeEchoSounderStatus(es,d)"></i>
                        </td>
                    </tr>
                    <tr ng-class="{'transparent':dDetail.deviceStatus!=true}">
                        <td ng-repeat="t in dDetail.transducers"><!-- | filter: showEnabledTransducer">-->
                            <table class="table table-bordered">
                                <tr><td>{{t.name}}</td></tr>
                                <tr><td>{{t.hardware_channel}}</td></tr>
                                <tr><td>{{t.software_channel}}</td></tr>
                                <tr><td><i class="custom-line-height cell-icon" data-ng-class="{'fa fa-microphone':t.recording==true,'fa fa-microphone-slash':t.recording==false,'fa fa-refresh faa-spin animated':t.recording=='refreshing','fa fa-exclamation-triangle faa-flash animated text-danger':t.recording=='error'}" data-ng-click="changeRecordingStatus(es,t.hardware_channel,d)"></i></td></tr>
                                <tr><td><i class="custom-line-height cell-icon" data-ng-class="{'fa fa-square-o':t.window==true,'fa fa-square':t.window==false,'fa fa-refresh faa-spin animated':t.window=='refreshing','fa fa-exclamation-triangle faa-flash animated text-danger':t.window=='error'}" data-ng-click="changeWindowStatus(es,t.hardware_channel,d)"></i></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="esDetail.transducers !== undefined" class="pull-left">
                <table class="table table-bordered echosounder-table">
                    <tr>
    <!--                    <td colspan={{getEnabledTransducerCount(dDetail.transducers)}}>-->
                        <td class="echoTitleHeight" colspan={{esDetail.transducers.length}}>
                            {{ es}}
                            <i class=" cell-icon pull-right" data-ng-class="{'icon-button fa fa-play':dDetail.deviceStatus==false,'icon-button fa fa-stop':esDetail.deviceStatus==true,'fa fa-refresh faa-spin animated' : esDetail.deviceStatus=='refreshing','fa fa-exclamation-triangle faa-flash animated text-danger' : esDetail.deviceStatus=='error'}" data-ng-click="changeEchoSounderStatus(es)"></i>
                        </td>
                    </tr>
                    <tr ng-class="{'transparent':esDetail.deviceStatus!=true}">
                        <td ng-repeat="t in esDetail.transducers"><!-- | filter: showEnabledTransducer">-->
                            <table class="table table-bordered">
                                <tr><td>{{t.name}}</td></tr>
                                <tr><td>{{t.hardware_channel}}</td></tr>
                                <tr><td>{{t.software_channel}}</td></tr>
                                <tr><td><i class="custom-line-height cell-icon" data-ng-class="{'fa fa-microphone':t.recording==true,'fa fa-microphone-slash':t.recording==false,'fa fa-refresh faa-spin animated':t.recording=='refreshing','fa fa-exclamation-triangle faa-flash animated text-danger':t.recording=='error'}" data-ng-click="changeRecordingStatus(es,t.hardware_channel)"></i></td></tr>
                                <tr><td><i class="custom-line-height cell-icon" data-ng-class="{'fa fa-square-o':t.window==true,'fa fa-square':t.window==false,'fa fa-refresh faa-spin animated':t.window=='refreshing','fa fa-exclamation-triangle faa-flash animated text-danger':t.window=='error'}" data-ng-click="changeWindowStatus(es,t.hardware_channel)"></i></td></tr>                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<span class="show-config-button" data-ng-click="configBar()">
    <i data-ng-class="{'fa-arrow-circle-o-right':!showConfigBar,'fa-arrow-circle-o-left':showConfigBar}" class="fa fa-2x add-button"></i>
</span>
<footer data-ng-if="showConfigBar">
    <div class="configuration-bar">
        <div class="config-buttons">
            <div class="add-button-circle" data-ng-click="addEchoSounder()">
                <i class="fa fa-plus fa-2x add-button"></i>
            </div>
            <div class="add-button-circle">
                <i class="fa fa-2x fa-cog add-button"></i>
            </div>
        </div>
<!--        <div class="dropdown device-dropdown-fixed">
            <div class="list" ng-show="showDeviceListDropUp">
                <ul>
                    <li data-ng-click="deviceListDropUp('EchoSounder1')">EchoSounder1</li>
                    <li data-ng-click="deviceListDropUp('EchoSounder1')">EchoSounder2</li>
                    <li data-ng-click="deviceListDropUp('EchoSounder1')">EchoSounder3</li>
                    <li data-ng-click="deviceListDropUp('EchoSounder1')">EchoSounder4</li>
                </ul>
            </div>
            <button class="btn btn-default" type="button" ng-click="deviceListDropUp()">
                EchoSounders
                <span data-ng-class="{'dropup':!showDeviceListDropUp}">
                    <span class="caret"></span>
                </span>
            </button>
        </div>-->
    </div>
</footer>

<div class="modal fade" id="selectEchoSounder">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="custom-close-button" data-ng-click="closeModel('selectEchoSounder')">&times;</button>
            <div class="modal-body">
                <h2 class="fs-title">Configure EchoSouder</h2>
                <div class="error">
                    <i class="fa fa-spinner fa-3x faa-spin animated" data-ng-if="showLoading"></i>
                    <i class="fa fa-warning fa" data-ng-if="showLoadError">Sorry, Something went Wrong</i>
                </div>
                <div class="content" ng-if="!showLoadError && !showLoading">
                <form name="configureEchosounderForm" data-ng-submit="sendDeviceConfig()">
                    <table class="configureEcosounderForm">
                        <tr>
                            <td>
                                <span class="fs-title">Type</span>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <span class="custom-dropdown">
                                    <select data-ng-options="k as k for (k,v) in echosoudersInfo" data-ng-model="selectedEchoSounder.detail" data-ng-change="getConfiguration(selectedEchoSounder.detail)"></select><!--selectedEchoSounder.detail-->
                                </span>
                            </td>
                        </tr>
                        <tr ng-if="isArray(echosoudersInfo[selectedEchoSounder.detail])">
                            <td>
                                <span class="fs-title">Device</span>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <span class="custom-dropdown">
                                    <select data-ng-options="v for (k,v) in echosoudersInfo[selectedEchoSounder.detail]" data-ng-model="selectedEchoSounder.device" data-ng-change="getConfiguration(selectedEchoSounder.detail,selectedEchoSounder.device)"></select>
                                </span>
                            </td>
                        </tr>
                        <tr  ng-if="!isArray(echosoudersInfo[selectedEchoSounder.detail]) ">
                            <td>
                                <span class="fs-title">Transmit Power</span>
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                    <span class="custom-dropdown medium">
                                        <select data-ng-options="power for power in transmitPowers" data-ng-model="selectedTransmitPower"></select>
                                    </span>
                                    <span class="units">W</span>
                                    
                            </td>
                        </tr>                        
                    </table>
                    <table class="table" ng-if="isArray(echosoudersInfo[selectedEchoSounder.detail]) ">
                        <thead>
                            <tr>
                                <td>Transmit Power</td>
                                <td>Ping Interval</td>
                                <td>Mode</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="custom-dropdown medium">
                                        <select data-ng-options="power for power in transmitPowers" data-ng-model="selectedTransmitPower"></select>
                                    </span>
                                    <span class="units">W</span>
                                </td>
                                <td>
                                    <input type="number" class="ping-interval-input" data-ng-model="pingInterval.value" placeholder="" min="{{pingInterval.min}}" max="{{pingInterval.max}}" step="{{pingInterval.step}}" required/>
                                    <span class="units">ms</span>
                                </td>
                                <td>
                                    <span class="custom-dropdown medium">
                                        <select data-ng-options="mode for mode in pingModes.modes" data-ng-model="pingModes.selectedMode"></select>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="transducer-form">
                        <div class="error">
                            <i class="fa fa-spinner fa-3x faa-spin animated" data-ng-if="showTransducerContentLoading"></i>
                            <i class="fa fa-warning fa" data-ng-if="showTransducerContentError">Sorry, Something went Wrong</i>
                        </div>

                        <div class="transducer-form-content" ng-if="showTransducerContent">
                            <h2 class="fs-title">Transducers :</h2>
<!--                            <div class="tooltip top form-title-tooltip" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Hardware Channel
                                </div>
                            </div>-->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Status</td>
                                        <td>H_Channel</td>
                                        <td>Name</td>
                                        <td>View</td>
                                    </tr>
                                </thead>
                                <tr data-ng-repeat="t in selectedEchoSounder.transducers">
                                    <td>
                                        <i class="fa-2x" data-ng-class="{'fa fa-check-square-o':t.enable==true,'fa fa-square-o':t.enable==false}" data-ng-click="changeStatus(t.hardware_channel)"></i>
                                    </td>                                        
                                    <td><input class="hardware-channel-input" type="text" data-ng-model="t.hardware_channel" placeholder="H Channel" /></td>
                                    <td><input type="text" data-ng-model="t.name" placeholder="Name" data-ng-required="t.enable"/></td>
                                    <td>
                                        <i class="fa-2x" data-ng-class="{'fa fa-arrow-circle-up':t.view==true,'fa fa-arrow-circle-down':t.view==false}" data-ng-click="changeView(t.hardware_channel)"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"><input type="button" name="addTransducer" id="addTransducer" value="Add Transducer" data-ng-click="addTransducer(t.hardware_channel)"/></td>
                                </tr>
                            </table>
<!--                            <div class="transducer-detail" data-ng-repeat="t in selectedEchoSounder.transducers">
                                <div class="tooltip left form-error-tooltip" role="tooltip" ng-if="t.error">
                                    <div class="tooltip-arrow"></div>
                                    <div class="tooltip-inner">
                                        Enter Details
                                    </div>
                                </div>
                                <input type="checkbox" data-ng-model="t.enable"/>--> <!--data-ng-change="validateTransducerDetail(t.id)"-->
<!--                                <input class="hardware-channel-input" type="text" data-ng-model="t.hardware_channel" placeholder="H Channel" readonly />
                                <input type="text" data-ng-model="t.name" placeholder="Name" data-ng-required="t.enable"/>
                                <i data-ng-class="{'fa fa-arrow-circle-up':t.view==true,'fa fa-arrow-circle-down':t.view==false}">
                                    <input type="checkbox" data-ng-model="t.view" />
                                </i>
                            </div>

                        </div>-->
                    </div>
                        <input type="submit" name="submit" class="action-button" value="Submit" />
                    </form>

                </div>                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->